<!DOCTYPE html>
<html>
<head>
   <title>ActiveWarehouse - Ruby ETL solution</title>
   <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
   <link rel="stylesheet" href="app.css">
</head>
<body>
    <div class="container">
        <%= yield %>
    </div>
</body>
</html>